html , body {
    height: 100%;
}


.header a,
a:hover {
  color: #f0ad4e;
  text-decoration: none;
}

.header h1 {
  letter-spacing: 15px;
  font-size: 300%;
}

.header p {
  color: white !important;
  font-size: 90%;
  letter-spacing: 3px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  color: black;
  background-color: #f0ad4e;
}

.nav-pills > li > a {
  color: white !important;
}

.nav-pills > li > a:hover {
  background-color: #f0ad4e;
}

.navbar-inverse {
  padding: 1%;
}


.clear{
    clear:both;
    height:63px;
}

.wrapper{
    min-height:100%;
}

.footer{
    color: #666;
    background-color: #222;
    padding: 17px 0 18px 0;
    border-top: 1px solid #000;
}
.footer a{
    color: #999;
}

.footer a:hover{
    color:#efefef;
}


@media (max-width: 767px) {
  .nav-pills > li {
    float: none;
  }

  .nav-pills {
    text-align: center;
  }

  .header h1 {
    letter-spacing: 5px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 3px solid #f0ad4e;
}
